@using MeusCatalogos.Helpers;
@model MeusCatalogos.ViewModels.SignUpViewModel

@{
    ViewBag.Title = "Meus Catálogos - Cadastre-se";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container simple-page">
    <div class="row">
        <div class="span4">
            <h2>Cadastre-se</h2>
        </div>
    </div>

    <hr>

    <footer>
    </footer>
</div>
