@{
    ViewBag.Title = "Index";
}

<div class="container simple-page">
    <div class="row">
        <div class="span4">
            <h2>Price</h2>
        </div>
    </div>

    <hr>

    <footer>
    </footer>
</div>