@using MeusCatalogos.Helpers;
@model MeusCatalogos.ViewModels.SignInViewModel

@{
    ViewBag.Title = "Meus Catálogos - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="container simple-page">
    <div class="row">
        <div class="span4">
            <h2>Sign In</h2>
        </div>
    </div>

    <hr>

    <footer>
    </footer>
</div>
