<!-- Footer
================================================== -->
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Asp.Net MVC 4 Demo Project <a href="http://guidefreitas.com" target="_blank">@@guidefreitas.com</a></p>
  </div>
</footer>
